*~
*.swp
*.kdev4
*.bak
lirp_808
xcrf808
clean.sh
gdbserver
gdb
example1
libthread_db-1.0.so
*.bp
Definitions/Core/lirp/out/*

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
#*.so
#*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
